.Navigation {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-top: 1px solid #bdbdbd;
  height: 80px;
  position: absolute;
  bottom: 0;
  /* width: 100%; */
}

.NavItem {
  background-color: white;
  border: none;
  text-align: center;
  color: grey;
  cursor: pointer;
  padding: 12px 0;
}

.NavItem h6 {
  font-size: 0.8rem;
}

.NavItemSelected {
  color: #1f7cff;
}

/* Desktop */
@media only screen and (min-device-width: 576px) {
  .Navigation {
    /* width: 100%; */
  }
}
