.Settings {
  margin-top: 0px;
  text-align: center;
  overflow-y: scroll;
  height: calc(100% - 145px);
}

.settingsContent {
  margin-top: 36px;
  padding: 20px;
  text-align: left;
}

.Settings h5 {
  margin: 10px;
}

.settingsContent h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 20px;
}

.Settings p {
  margin: 10px;
}

.settingsItem {
  border-top: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
}

.settingsChevron {
  padding-right: 8px;
  padding-top: 12px;
  color: #212529;
}

.helpAnswer {
  color: grey;
  font-size: 0.9rem;
}

.logoutBtn {
  color: red;
}
