.History {
  margin: 0 0px 15px 0px;
  overflow-y: scroll;
  height: calc(100% - 145px);
}

.page-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 14px;
}

.history-back {
  display: flex;
  justify-content: left;
  color: white;
  padding: 10px 10px 0 10px;
  background-image: linear-gradient(to right, #8f45ff, #0587eb);
}

.history-back h6 {
  color: white;
  font-weight: 500;
  margin-left: 5px;
  margin-bottom: 0;
}

.history-list {
  margin: 15px;
}
