.MonthlySpending {
  background-image: linear-gradient(to right, #8f45ff, #0587eb);
}

.monthJumbo {
  margin: 20px 0 30px 0;
}

.thisMonth {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: white;
}

.MonthlySpending h6 {
  font-weight: 500;
  /* color: grey; */
  color: white;
  margin-bottom: 0;
  text-align: center;
}

.monthAmount {
  /* color: #14ba41; */
  color: white;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

.chartWrapper {
  margin: 30px;
}

.spending {
  margin: 10px 5px;
}

.spending p {
  text-align: left;
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
}

.spending h6 {
  color: #212529;
  font-size: 0.9rem;
}

.spendingCategory1 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d1d1d1;
  padding: 10px 3px;
}

.spendingCategory2 {
  display: flex;
}

.spendingCategory2 i {
  margin: 0 5px;
}

.color1 {
  color: #9a47ff;
}

.color2 {
  color: #df87ff;
}

.color3 {
  color: #f1c9ff;
}

.color4 {
  color: #004ba8;
}

.color5 {
  color: #6cbeed;
}

.color6 {
  color: #c9f0ff;
}

.color7 {
  color: #5b8c5a;
}

.color8 {
  color: #37ff8b;
}

.color9 {
  color: #d9f9a5;
}

.color10 {
  color: #eee3ab;
}

.expenseListTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 20px 0 5px 0;
  text-align: left;
}

.expenseItem {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d1d1d1;
  color: #212529;
}

.expenseItem h6 {
  color: #212529;
  font-weight: 500;
}

.expenseItem i {
  cursor: pointer;
  margin-top: 8px;
}

.expenseItem2 {
  display: flex;
}

.expenseItem2 h5 {
  color: red;
  margin-right: 5px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 5px;
  width: 75px;
  text-align: left;
}

.expenseItem3 h6 {
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
}

.expenseItem3 p {
  text-align: left;
  margin: 0;
  font-size: 0.7rem;
  color: grey;
}

.MonthlySpendingGreen {
  padding: 0 15px;
}

.expenseList {
  padding: 2px 15px 0 15px;
  border-radius: 25px 25px 0 0;
  background-color: white;
  margin: 32px 15px 0px 15px;
  margin: 32px 0 0 0;
}

.chartContainer {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
