html,
body {
  background: black;
  margin: 0;
  height: 100vh;
}

.App {
  height: 100vh;
  background-color: white;
}

/* Desktop */
@media only screen and (min-device-width: 576px) {
  .App {
    width: 576px;
    margin: 0 auto;
  }
}
